* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  background: rgba(63,181,142,1);
  background: -moz-linear-gradient(top, rgba(63,181,142,1) 0%, rgba(171,255,227,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(63,181,142,1)), color-stop(100%, rgba(171,255,227,1)));
  background: -webkit-linear-gradient(top, rgba(63,181,142,1) 0%, rgba(171,255,227,1) 100%);
  background: -o-linear-gradient(top, rgba(63,181,142,1) 0%, rgba(171,255,227,1) 100%);
  background: -ms-linear-gradient(top, rgba(63,181,142,1) 0%, rgba(171,255,227,1) 100%);
  background: linear-gradient(to bottom, rgba(63,181,142,1) 0%, rgba(171,255,227,1) 100%);
  background-attachment: fixed;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */